/* ~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~ */

body {
    background-color: bisque;
    font-family: sans-serif;
    color: #3c3c3c;
}

ul {
    padding : 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.lien {
    display: inline-block;
    background-color: #3c3c3c;
    color: bisque;
    padding: 10px;
    margin: 5px 0;
    border-radius: 2px;
}

/* ~~~~~~~~~~~~~~~~ FRONT ~~~~~~~~~~~~~~~~ */

.global {
    display: flex;
}

.contain-gallery {
    margin: 0 20px;
}

.contain-gallery a {
    white-space: nowrap;
}

.all-expos {
    border: 2px solid #3c3c3c;
    border-radius : 5px;
    padding: 15px;
    margin: 15px;
}

.all-expos h2,
.expo h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

.all-expos h3,
.expo h3 {
    font-weight: normal;
    font-size: 1.1rem;
}

.all-expos p
.expo p {
    font-size: 0.8rem;
}

.all-expos img,
.expo img {
    max-width: 500px;
    height: auto;
}

/* ~~~~~~~~~~~~~~~~ ADMIN ~~~~~~~~~~~~~~~~ */

.admin-table td,
.admin-table th {
    background-color: #ffedd8; 
    padding: 0 10px;
}

.admin-table th {
    line-height: 50px;
}

.admin-table .text-tab {
    padding: 10px;
}

.admin-form input,
.admin-form textarea {
    font-size: 1rem;
    color: #3c3c3c;
}

.admin-form label[for=galerie_presentation] {
    vertical-align: top;
}

.admin-form > form > div > div {
    padding: 10px;
}

.admin-form > form {
    max-width: 700px;
}

.admin-form > form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-form input,
.admin-form textarea {
    padding: 10px;
    border: 2px solid #ffc075;
    background-color: #ffedd8;
    border-radius: 5px;
    margin-left: 15px;
}

.admin-form input {
    width: 350px;
}

.admin-form textarea {
    width: 350px;
    height: 200px;
}