/* ~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~ */

body {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(74, 71, 181) 0%, rgb(76, 131, 164) 35%, rgb(43, 214, 232) 100%); 
    font-family: sans-serif;
    color: #3c3c3c;
    margin: 0;
}

ul {
    padding : 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

.lien {
    display: inline-block;
    background-color: #3c3c3c;
    color: bisque;
    padding: 10px;
    margin: 5px 0;
    border-radius: 2px;
}

.btn {
    background-color: #ffc075;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

/* ~~~~~~~~~~~~~~~~ FRONT-HEADER ~~~~~~~~~~~~~~~~ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.front-nav li {
    margin: 0 5px;
}

.front-nav a {
    color:#3c3c3c;
    padding: 10px;
}

.front-nav .active {
    color: purple;
}

/* ~~~~~~~~~~~~ FRONT-ACCUEIL ~~~~~~~~~~~~ */

.all-espaces > div {
    background: linear-gradient(45deg, rgb(74, 71, 181) 0%, rgb(76, 131, 164) 35%, rgb(43, 214, 232) 100%);
}

.all-espaces > div > div {
    display: flex;
    align-items: center;
}

.all-espaces p {
    line-height: 2rem;
}

.all-espaces h2 {
    margin: 0;
}
.all-espaces img {
    max-width: 650px;
    height: auto;
}

/* ~~~~~~~~~~~~~~ FRONT-ALL-EXPOS ~~~~~~~~~~~~~ */

.all-expos > div {
    padding: 15px;
    margin: 15px;
}

.all-expos h2,
.expo h2 {
    font-weight: normal;
    font-size: 1.4rem;
}

.all-expos h3,
.expo h3 {
    font-weight: normal;
    font-size: 1.1rem;
}

.all-expos p
.expo p {
    font-size: 0.8rem;
}

.all-expos img,
.expo img {
    max-width: 500px;
    height: auto;
}

/* ~~~~~~~~~~ FRONT-ALL-ARTISTES ~~~~~~~~~ */

.all-artistes img {
    max-width: 350px;
    height: auto;
}

/* ~~~~~~~~~~ FRONT-ONE-ARTISTE ~~~~~~~~~ */

.one-artiste img {
    max-width: 650px;
    height: auto;
}

/* ~~~~~~~~~~~~~~~~ ADMIN ~~~~~~~~~~~~~~~~ */
.admin-nav {
    height: 100vh;
    display: inline-block;
    background-color: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
}

.admin-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    
}

.admin-nav ul li {
    margin: 15px 0;
}

.admin-nav a {
    color:#d8fbff;
}

.admin-nav .active {
    color: #3c3c3c;
    background-color: #d8fbff;
}
.admin-wrapper {
    padding: 0 20px 50px 280px;
}

.admin-title h1 {
    background-color: #3c3c3c;
    color: #d8fbff;
    padding: 15px;
}

.admin-wrapper a {
    display: inline-block;
    background-color: #3c3c3c;
    color: #d8fbff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 2px;
}

/*=== ADMIN TABLEAUX ===*/

.admin-wrapper td,
.admin-wrapper th {
    background-color: #d8fbff; 
    padding: 0 10px;
}

.admin-wrapper th {
    line-height: 50px;
}

.admin-wrapper .text-tab {
    padding: 10px;
}

/*=== ADMIN FORMULAIRES ===*/

.admin-index img {
    max-width: 200px;
    height: auto;
}

.admin-show img {
    max-width: 700px;
    height: auto;
}

.admin-wrapper > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
}

.admin-wrapper > form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-wrapper > form > div > div {
    padding: 10px;
}

.admin-wrapper input,
.admin-wrapper textarea {
    padding: 10px;
    border: 2px solid #75d8ff;
    background-color: #d8fbff;
    border-radius: 5px;
    margin-left: 15px;
    width: 350px;
    font-size: 1rem;
    color: #3c3c3c;
}

.admin-wrapper input[type=checkbox] {
    width: auto;
}

.admin-wrapper textarea {
    height: 200px;
}

.admin-wrapper label[for=galerie_presentation] {
    vertical-align: top;
}

.admin-wrapper button {
    background-color: #75d8ff;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

#exposition_imagesExpo input,
#artiste_oeuvres input,
#media_oeuvres input {
    display: none;
}

#exposition_imagesExpo label,
#artiste_oeuvres label,
#media_oeuvres label {
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
    vertical-align: top;
}

#exposition_imagesExpo input:checked + label,
#artiste_oeuvres input:checked + label,
#media_oeuvres input:checked + label {
    background-color: #75d8ff;
}

#exposition_imagesExpo label:hover,
#artiste_oeuvres label:hover,
#media_oeuvres label:hover {
    cursor: pointer;
}

#exposition_imagesExpo img,
#artiste_oeuvres img,
#media_oeuvres img {
    width: 200px;
    height: auto;
    padding: 5px 5px 3px 5px;
}
