/* ~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~ */

body {
    font-family: sans-serif;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(74, 71, 181) 0%, rgb(76, 131, 164) 35%, rgb(43, 214, 232) 100%); 
    color: #3c3c3c;
    margin: 0;
}

ul {
    padding : 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

.lien {
    display: inline-block;
    background-color: rgb(74, 71, 181);
    color: #fffff3;
    padding: 8px;
    margin: 5px 0;
    border: 2px solid rgb(74, 71, 181);
    border-radius: 2px;
}

.lien:hover {
    background-color: #fffff3;
    color:rgb(74, 71, 181);

}

.btn {
    background-color: #ffc075;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

.global-contain {
    padding: 135px 20px 35px;
    background-color: beige;
}

/* ~~~~~~~~~~~~~~~~ FRONT-HEADER ~~~~~~~~~~~~~~~~ */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #35bdd4;
}

header > div {
    background-color: #35bdd4;
    padding: 2px 10px 2px;
    position: relative;
    z-index: 10;
    width: 100%;
}

header > div img {
    display: none;
    opacity: 0;
}

header h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    color:rgb(74, 71, 181); 
}

.front-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.nav-close {
    margin-top: 0;
}

.front-nav li {
    margin: 0 5px;
}

.front-nav a::after {
    content:"/";
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}

.front-nav a {
    color:rgb(74, 71, 181);
    font-size: 1.05rem;
    font-weight: bold;
}

.front-nav .active,
.front-nav a:hover {
    color: #fffff3;
}

/* ~~~~~~~~~~~~ FRONT-ACCUEIL ~~~~~~~~~~~~ */
.espace {
    margin: 30px 0;
    padding: 15px;
    background-color: #fffff3;
    border-radius: 3px;
}

.espace-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.espaces p {
    line-height: 1.6rem;
}

.espaces h2 {
    margin: 0;
}

/* ~~~~~~~~~~~~~~ FRONT-ONE-ESPACE ~~~~~~~~~~~~~ */

.one-espace,
.espace-expo,
.espace-evenement,
.espace-artiste,
.infos-espace {
    background-color: #fffff3;
    padding: 10px;
    border-radius: 3px;
    margin: 0 10px 25px 10px;
}

.one-espace h1 {
    color:rgb(74, 71, 181);
    font-weight: bold;
    font-size: 2rem;
}

.actus-espace h2 {
    color: #3c3c3c;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0 0 15px 15px;
}

.actus-espace h3,
.infos-espace h3 {
    color:rgb(74, 71, 181);
    font-weight: bold;
    font-size: 1.4rem;
}

.actus-espace h4 {
    color:#3c3c3c;
    font-weight: normal;
    font-size: 1.2rem;
}

.espace-expo a  {
    float: right;
}

.espace-expo img {
    margin: 15px 0;
}

.espace-artiste .voir {
    margin-top: 10px;
}

/* ~~~~~~~~~~~~~~ FRONT-ALL-EXPOS ~~~~~~~~~~~~~ */

.fiche-expo {
    padding: 15px;
    margin: 10px 0;
    background-color: #fffff3;border-radius: 3px;
}

.fiche-expo h2 {
    font-weight: bold;
    font-size: 1.2rem;
    color:rgb(74, 71, 181);
}

.fiche-expo h3 {
    font-weight: normal;
    font-size: 1rem;
    margin: 10px 0;
}

.fiche-expo li a {
    color: rgb(74, 71, 181);
}

.fiche-expo li a:hover {
    text-decoration: underline;
}

/* ~~~~~~~~~~~~~~ FRONT-ONE-EXPO ~~~~~~~~~~~~~ */

.one-expo {
    padding: 15px;
    background-color: #fffff3;
    border-radius: 3px;
}

.one-expo h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color:rgb(74, 71, 181);
}

.one-expo h2 {
    font-size: 1.2rem;
}

.slide-expo {
    margin: 15px 0;
}

.liens-expo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fav {
    width: 50px;
    height: auto;
}


.form-com textarea {
    padding: 10px;
    border: 2px solid #75d8ff;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    color: #3c3c3c;
}

.form-com label {
    vertical-align: top;
    margin-bottom: 15px;
}

.form-com button {
    background-color: #75d8ff;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    float: right;
}

.commentaire {
    border: 2px solid #35bdd4;
    border-radius: 3px;
    margin: 5px 0;
    padding : 10px;
}

.commentaire p {
    margin-bottom: 5px;
}

.commentaire span {
    color:rgb(74, 71, 181);
}

.commentaire p:last-of-type {
    color:rgb(74, 71, 181);
}

/* ~~~~~~~~~~ FRONT-ALL-ARTISTES ~~~~~~~~~ */

.fiche-artiste {
    padding: 15px;
    margin: 10px 0;
    background-color: #fffff3;
    border-radius: 3px;
}

.fiche-artiste h2 {
    font-weight: bold;
    font-size: 1.4rem;
    color:rgb(74, 71, 181);
    margin-top: 15px;
}


/* ~~~~~~~~~~ FRONT-ONE-ARTISTE ~~~~~~~~~ */

.one-presentation {
    padding: 15px;
    background-color: #fffff3;
    border-radius: 3px;
}

.one-presentation h1 {
    font-weight: bold;
    font-size: 1.8rem;
    color:rgb(74, 71, 181);
}

.oeuvre {
    margin: 15px 0;
}

/* ~~~~~~~~~~ FRONT-ALL-EVENTS ~~~~~~~~~ */

.event-title {
    font-weight: bold;
    font-size: 2rem;
    color:rgb(74, 71, 181);
}

.event {
    border: 3px solid rgb(74, 71, 181);
    background-color: #fffff3;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 5px;
}

.event h2 {
    font-weight: bold;
    font-size: 1.6rem;
    color:rgb(74, 71, 181);
}

.event a {
    color: rgb(74, 71, 181);
}

.event a:hover {
    text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~ PERSO ~~~~~~~~~~~~~~~~ */
.perso {
    font-weight: bold;
    font-size: 1.8rem;
    color:rgb(74, 71, 181);
}

.sup-fav {
    display: flex;
    justify-content: space-between;
}

/* ~~~~~~~~~~~~~~~~ ADMIN ~~~~~~~~~~~~~~~~ */
.admin-nav {
    height: 100vh;
    display: inline-block;
    background-color: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
}

.admin-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.admin-nav a {
    display: block;
    color:#d8fbff;
    padding: 15px;
    width: 200px;
}

.admin-nav .active,
.admin-nav a:hover {
    color: #3c3c3c;
    background-color: #d8fbff;
}
.admin-wrapper {
    padding: 0 20px 50px 280px;
}

.admin-title h1 {
    background-color: #3c3c3c;
    color: #d8fbff;
    padding: 15px;
}

.admin-wrapper a {
    display: inline-block;
    background-color: #3c3c3c;
    color: #d8fbff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 2px;
}

/*=== ADMIN TABLEAUX ===*/

.admin-wrapper td,
.admin-wrapper th {
    background-color: #d8fbff; 
    padding: 0 10px;
}

.admin-wrapper th {
    line-height: 50px;
}

.admin-wrapper .text-tab {
    padding: 10px;
}

/*=== ADMIN FORMULAIRES ===*/

.admin-index img {
    max-width: 200px;
    height: auto;
}

.admin-show img {
    max-width: 700px;
    height: auto;
}

.admin-wrapper > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 700px;
}

.admin-wrapper > form > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.admin-wrapper > form > div > div {
    padding: 10px;
}

.admin-wrapper input,
.admin-wrapper textarea {
    padding: 10px;
    border: 2px solid #75d8ff;
    background-color: #d8fbff;
    border-radius: 5px;
    width: 350px;
    font-size: 1rem;
    color: #3c3c3c;
}

.admin-wrapper select {
    padding: 10px;
    border: 2px solid #75d8ff;
    background-color: #d8fbff;
    border-radius: 5px;
    font-size: 1rem;
    color: #3c3c3c;
}

.admin-wrapper input[type=checkbox] {
    width: auto;
}

.admin-wrapper textarea {
    height: 200px;
}

.admin-wrapper label {
    margin-right: 15px;
}

.admin-wrapper label[for=galerie_presentation] {
    vertical-align: top;
}

.admin-wrapper button {
    background-color: #75d8ff;
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
}

/* ~~~~~~~~~~~ VIGNETTES ADMIN ~~~~~~~~~~~ */

#exposition_imagesExpo input,
#artiste_oeuvres input,
#media_oeuvres input {
    display: none;
}

#exposition_imagesExpo label,
#artiste_oeuvres label,
#media_oeuvres label {
    display: inline-block;
    border-radius: 5px;
    margin: 15px;
    vertical-align: top;
}

#exposition_imagesExpo input:checked + label,
#artiste_oeuvres input:checked + label,
#media_oeuvres input:checked + label {
    background-color: #75d8ff;
}

#exposition_imagesExpo label:hover,
#artiste_oeuvres label:hover,
#media_oeuvres label:hover {
    cursor: pointer;
}

#exposition_imagesExpo img,
#artiste_oeuvres img,
#media_oeuvres img {
    width: 200px;
    height: auto;
    padding: 5px 5px 3px 5px;
}

/* ~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~ */

@media screen and (max-width: 1200px) {
    
    header {
        display: inline;
    }

    header > div img {
        display: block;
        opacity: 1;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 28px;
        right: 32px;
        padding: 5px;
        border-radius: 2px;
    }

    header > div img:hover {
        cursor: pointer;
        background-color: beige;
    }

    .front-nav a::after {
        content:"";
    }

    .front-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        line-height: 1.2;
        transition-duration: 0.5s;
    }

    .nav-close {
        margin-top: -335px;
    }

    @media screen and (max-width: 576px) {
        header h1 {
            font-family: 'Anton', sans-serif;
            font-size: 1.3rem;
            letter-spacing: 0.15rem;
        }

        header > div img {
            width: 35px;
            height: 35px;
            top: 12px;
            right: 15px;
            padding: 5px;
            border-radius: 2px;
        }
    }
    

}