{% extends 'base_admin.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Créer un nouveau Commentaire</h1>
    <a href="{{ path('app_admin_commentaire_index') }}">retour à la liste</a>
    {{ include('admin_commentaire/_form.html.twig') }}
</div>
{% endblock %}
