<form method="post" action="{{ path('app_admin_exposition_delete', {'id': exposition.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exposition.id) }}">
    <button>Supprimer</button>
</form>
