{% extends 'base_admin.html.twig' %}

{% block title %}Editer l'Exposition{% endblock %}

{% block body %}

{{ dump(exposition) }}
<div class="admin-wrapper">
    <h1>Editer l'Exposition</h1>
    <a href="{{ path('app_admin_exposition_index') }}">Retour à la liste</a>
    {{ include('admin_exposition/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('admin_exposition/_delete_form.html.twig') }}
</div>
{% endblock %}

{% block javascripts %}
<script>

window.addEventListener('load', (event) => {
  let containLabels = document.querySelector('#exposition_imagesExpo');
  let allLabels = containLabels.querySelectorAll('label');
  allLabels.forEach(function(one) {
    //console.log(one.textContent);
    const img = document.createElement("img");
    img.src = "/images/expos/"+one.textContent;
    one.textContent = "";
    one.appendChild(img);
  });

});


</script>
{% endblock %}

