{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle Exposition{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Ajouter une Exposition</h1>
    <a href="{{ path('app_admin_exposition_index') }}">Retour à la liste</a>
    {{ include('admin_exposition/_form.html.twig') }}
</div>   
{% endblock %}
