{% extends 'base_admin.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Editer les Galerie</h1>
    <a href="{{ path('app_admin_galerie_index') }}" >Retour à la liste</a>
    {{ include('admin_galerie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('admin_galerie/_delete_form.html.twig') }}
</div>
{% endblock %}
