{% extends 'base.html.twig' %}

{% block title %}New Galerie{% endblock %}

{% block body %}
    <h1>Create new Galerie</h1>
    <div class="admin-form">
    {{ include('admin_galerie/_form.html.twig') }}
    </div>
    <a href="{{ path('app_admin_galerie_index') }}" class="lien">back to list</a>
{% endblock %}
