{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle Galerie{% endblock %}

{% block body %}
<div class="admin-wrapper">
    <h1>Création de votre Galerie</h1>
    <a href="{{ path('app_admin_galerie_index') }}" >Retour à la liste</a>
    {{ include('admin_galerie/_form.html.twig') }}
</div>
{% endblock %}
