{% extends 'base.html.twig' %}
{% block title %}Mentions Légales
{% endblock %}
{% block body %}
	
<div id="mentions">
	<h2 id="mentions-title">MENTIONS LEGALES</h2>
	
	<ul>
		<li>Réalisation : Thomas Ribardière</li>
	</ul>
	<ul>
		<li>06 40 93 57 83</li>
		<li>contact@thomas-ribardiere.fr</li>
	</ul>
	<ul>
		<li>Hebergeur :
			<a href="https://www.evxonline.com/" title="evxonline" target="_blank">EvxOnline</a>
		</li>
	</ul>
</div>

{% endblock %}
