{% extends 'base.html.twig' %}

{% block title %}Espace Personnel{% endblock %}

{% block body %}
{% include 'includes/_header.html.twig' %}
{# {{ dump(user) }} #}
<h1>Hello {{ user.username }}</h1>

<h2>Mes favoris :</h2>
{% for expo in user.favoris %}
    <div class="border p-3 my-3">
        {{ expo.titre }}
    </div>
{% endfor %}


{% endblock %}
